# Server Environment Variables (placed in /server/.env)
PORT=5000
MONGODB_URI=mongodb://127.0.0.1:27017/bike-parts-inventory

# Cloudinary Storage Config (Optional - local buffer fallback will be used if omitted)
CLOUDINARY_CLOUD_NAME=dyxyo0gki
CLOUDINARY_API_KEY=659642813295979
CLOUDINARY_API_SECRET=dSzdKVMgXTAP4d5rCZEGeuNXkyo
